/* Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Defining Variables */
:root {
  --primary-color: #0284c7;
  --dark-grey: #334155;
  --light-grey: #9b9b9b;
  --lightest-grey: #ececec;
  --footer: #2e3437;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.primary {
  color: var(--primary-color);
}

.divider-hr {
  border: 1px solid #0000001a;
  margin: 20px 0 15px 0;
  width: 80%;
}

.container {
  width: 85%;
  margin: auto;
}

/* ---------- Navbar ------------------ */
.navbar {
  padding: 1.5rem 0 0 0;
  min-height: 80px;
  box-sizing: border-box;
  /* position: fixed;
  top: 0; 
  width: 85%;
  background-color: white; */
}

.navbar-elements {
  display: flex;
  flex-wrap: wrap;
}

.nav-brand {
  flex-basis: 30%;
}

.nav-brand img {
  width: 60px;
}

.nav-items {
  flex-basis: 70%;
  text-align: end;
  align-self: center;
  margin-left: auto;
  display: flex;
  justify-content: end;
  gap: 5%;
}

.navbar ul {
  padding-inline-start: 0;
}

/* ------ list ------ */
.list-non-bullet {
  list-style-type: none;
}

.list-item-inline {
  display: inline;
}

.active {
  font-weight: 600;
}

/* ------ Links or Anchor Tags ------ */
.link {
  text-decoration: none;
  color: black;
}

/* ------- main -------- */
.main {
  margin-top: 50px;
}

/* ------ Hero ------ */
.hero {
  display: flex;
  align-items: center;
  height: 60vh;
  padding-bottom: 10vh;
  box-sizing: border-box;
}

.hero-heading {
  flex-basis: 62%;
  font-size: 4vw;
  font-weight: bold;
  align-self: center;
  padding-bottom: 2rem;
}

.hero-greet {
  font-size: 2vw;
}

.hero .identity {
  font-size: 3vw;
}
.hero-img {
  flex-basis: 38%;
}
.hero-img img {
  width: 100%;
}

/* social handle */
.social-handle {
  display: flex;
  align-items: center;
  height: 10vh;
  flex-wrap: wrap;
  justify-content: center;
}

.social-icon {
  width: 1.5rem;
  margin: 5px 1.2rem 0 0;
}

.social-icon:hover {
  transition: all 0.2s ease;
}

.email-handle {
  margin-left: auto;
}

/** ---------- Section -------**/

section {
  margin-top: 120px;
}

.section-header {
  font-size: 32px;
  font-weight: 700;
}

/* My services */

.section-services .my-services {
  display: flex;
}

.section-services .service {
  width: 30vw;
  padding-right: 5vw;
}

.section-services .service img {
  width: 60px;
}

.service-heading {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

/* My Skills */
.my-skills {
  margin-top: 35apx;
}
.skill-items {
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
}

.skill-item {
  display: flex;
  gap: 15px;
}

.skill-item img {
  width: 45px;
}

/* ----------- My Work ------------ */

.my-work {
  min-height: 475px;
}

.my-work .header-tab {
  width: max-content;
  margin: 35px auto 55px;
  position: relative;
  border-radius: 12px;
  border: 1px solid var(--primary-color);
}

.my-work .header-tab button {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color: var(--primary-color);
  font-weight: 600;
}

.my-work .header-tab .button-active {
  left: -1px;
  top: -1px;
  position: absolute;
  width: 145px;
  background: var(--primary-color);
  border-radius: 12px;
  transition: 1s;
  height: 36px;
}

.my-work .header-tab .work-header-active {
  color: white;
  cursor: text;
}

.my-work .view-more {
  margin: 28px auto;
  width: max-content;
  border: none;
}

.my-work .view-more a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  color: var(--primary-color);
  padding: 2px 6px;
}

.my-work .view-more a:hover {
  border-radius: 4px;
  border: 1px solid var(--primary-color);
}

/* ---- MyWork -> Project ---- */

.project-items {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.project-item {
  width: 320px;
  border-radius: 20px;
  background-size: cover;
  padding: 70px 0 0;
  max-height: 315px;
  box-sizing: border-box;
  overflow: hidden;
  transition: transform 400ms ease;
  display: flex;
}

.project-item:hover {
  transform: scale(1.05);
}

.project-item .content {
  --padding: 15px;
  padding: var(--padding);
  background: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0%, 0%, 0%, 0.8) 15%,
    rgba(0%, 0%, 0%, 0.6) 73%,
    rgba(100%, 100%, 100%, 0.1) 85%,
    rgba(0%, 0%, 0%, 1) 95%
  );
  transform: translateY(65%);
  transition: transform 500ms ease;
}

.project-item:hover .content {
  transform: translateY(0);
  transition-delay: 400ms;
}

.project-item .content > *:not(.heading) {
  opacity: 0;
  transition: opacity 500ms ease;
}

.project-item:hover .content > *:not(.heading) {
  opacity: 1;
  transition-delay: 800ms;
}

.project-item .heading {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 30px;
  position: relative;
  width: max-content;
}

.project-item .heading::after {
  content: '';
  background-color: var(--primary-color);
  position: absolute;
  left: calc(var(--padding) * -1);
  bottom: -10px;
  width: calc(100% + var(--padding));
  height: 4px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}

.project-item:hover .heading::after {
  transform: scaleX(1);
}

.project-item .description {
  color: rgb(255, 255, 255, 0.85);
}

.project-item .projects-cta {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  /* gap: 10px; */
}

/* ---------- My Blogs --------- */
.blog-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.blog-card {
  width: 350px;
  border: 1px solid var(--lightest-grey);
  margin: 0 20px;
}

.blog-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.blog-body {
  padding: 20px 30px 15px;
  display: flex;
  flex-direction: column;
}

.blog-meta .blog-date {
  color: var(--primary-color);
  font-size: 0.9rem;
}

.blog-title {
  margin: 2px 0 15px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
  color: var(--dark-grey);
}

.blog-title:hover {
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.blog-text {
  margin: 0px 0 20px;
  color: var(--light-grey);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.blog-card .read-more {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--dark-grey);
}
.blog-card .read-more:hover {
  color: var(--primary-color);
  transition: all 0.3s ease;
}

/* ---- Footer ---- */
footer {
  margin-top: 6rem;
  background-color: var(--footer);
  color: white;
  padding: 1.2rem 0;
  border-radius: 12px 12px 0 0;
}

footer p {
  margin: 0.4rem;
}

footer .footer-container {
  display: flex;
  gap: 8%;
}

footer .footer-heading {
  font-weight: 600;
  margin-bottom: 8px;
}

footer .social-handle {
  width: 12%;
  margin: 12px 0px;
}

.footer-container .footerbrand {
  align-self: center;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
}

.footer-container .footerbrand p {
  margin: 0;
}

.footer-container .footerbrand-heading {
  font-weight: 600;
  font-size: 2rem;
  color: var(--primary-color);
}

.footer-container .page-links {
  margin-left: auto;
}

.footer-page-links {
  text-decoration: none;
  color: white;
  margin: 0.4rem;
  display: block;
}

.footer-page-links:hover {
  color: var(--primary-color);
  transition: all 0.2s ease;
}
